<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete</title>
</head>
<body>
<h1>Deleting Employee Details</h1>
<h1>Details of the Employee</h1>
<h3>Name</h3>
<p>{{employee.name}}</p><hr>
<h3>Place</h3>
<p>{{employee.place}}</p><hr>
<h3>Email</h3>
<p>{{employee.email}}</p><hr>

<form action='' method="post">
    Click YES to Confirm
    <input type = "submit" value="YES">
    <a href='/data'>Cancel</a>
    <h3> Click <a href = '/'>Here </a> To Go Back</h3>

</form>
</body>
</html>