<html>
<head>
<title>Input</title>
</head>
<body>
<h1> Enter Employee Details</h1>
<form action = '' method = "post">
<table>
<tr>
<td> Name: </td>
<td><input type = "text" name = "name" placeholder = "Enter Name"></td>
</tr>
<tr>
<td> Place: </td>
<td> <input type = "text" name = "place" placeholder="Enter Place"></td>
</tr>
<tr>
<td>Email :</td>
<td><input type = "email" name="email" placeholder="Enter Email"></td>
</tr>
<tr><td>
<input type= "submit" value = "Submit" name = "submit"></td>
</tr>
</table>
</form>
<h3> Click <a href = '/data'>Here </a> To View Database</h3>


<h4> Click <a href = '/'>Here </a> To Go Back</h4>


</body>
</html>